* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.cc {
  font-family: sans-serif;
  font-weight: bold;
}
.c {
  text-decoration: none;
  color: rgb(124, 128, 131);
}
.c:hover {
  color: #2bb1f0;
}
.main-wrapper {
  display: flex;
  background-color: #dbdbdb;
  width: 90%;
  height: 90vh;
  margin-left: 100px;
  justify-content: center;
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 22px;
  justify-content: center;
}
image {
  width: 50%;
  height: 50%;
}
.link {
  color: black;
}
.form {
  height: 90%;
  width: 50%;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 8fr;
  gap: 30px;
  font-family: sans-serif;
  background-color: white;
  align-self: end;
}
.heading {
  font-weight: bold;
  font-size: 25px;
}
.search-eingines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  font-weight: bold;
  color: #4d4d4d;
}
.search {
  display: flex;
  gap: 5px;
}
.search1 {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.indivisual {
  display: grid;
}
.eingines {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  border-color: rgb(138, 138, 138);
  font-size: 16px;
  padding: 10px;
}

.eingine {
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
  width: 805px;
  border-color: rgb(138, 138, 138);
  font-size: 16px;
  padding: 10px;
}
